* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
}

.margin-top-1 {
    margin-top: 5px;
}

.margin-top-1 {
    margin-top: 20px;
}

.margin-bop-1 {
    margin-bottom: 5px;
}

.margin-top-1 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}